:root {
  --comment-img-size: 40px;
}

body {
  font-size: 115%;
}

#header nav[aria-label="Site"] {
  order: 2;
  width: 100%;
}

#header #greeting {
  order: 1;
}

#header > h1.heading {
  flex-grow: 1;
  width: 40%;
}

#header li.search fieldset {
  margin-left: 0;
}

#header li.search {
  position: absolute;
  margin-top: var(--spacing-xsmall);
  top: var(--spacing-normal);
  left: 3em;
  z-index: 0;
}

#header .primary {
  justify-content: center;
  margin: var(--spacing-small) 0 0 0;
}

.blurb .header.module:has(.required-tags) {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
  margin: 0;
}

.blurb:has(.required-tags) .header .heading:not(.byline) {
  margin: var(--spacing-small) 5.25em 0 0;
  overflow-wrap: break-word;
  order: 0;
}

.blurb:has(.required-tags) .header .required-tags {
  order: 2;
  margin: var(--spacing-small) auto;
}

.blurb:has(.required-tags) .header h5.fandoms {
  order: 3;
  margin-bottom: 0;
}

a.tag,
.blurb h4.heading a {
  word-break: break-word;
}

.blurb ul.required-tags {
  position: initial;
  top: initial;
  text-align: center;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.blurb ul.required-tags li {
  margin: 0;
}

.blurb ul.required-tags li + li + li,
.blurb ul.required-tags li + li + li + li {
  position: initial;
  left: initial;
}

.blurb ul.required-tags li {
  display: inline-flex;
}

#workskin {
  font-size: 1.25em;
}

.filters .expander:before {
  content: "\2B0A";
}
.filters .expanded .expander:before {
  content: "\2B08";
}
