:root {
  --comment-img-size: 60px;
}

.javascript {
  background: var(--bg-base);
}

#greeting p.icon {
  display: none;
}

#header .user .open > a:focus {
  color: var(--text-primary);
}

#dashboard,
#dashboard.own {
  position: initial;
  top: unset;
}

#dashboard .secondary {
  background: var(--bg-secondary);
}

div.preface {
  margin: var(--spacing-large) 0em;
}

#dashboard ul:not(:last-child) {
  border: 0;
}

form.single span.submit,
form.single ul.autocomplete {
  display: inline-block;
}
