* {
  --color-modal-overlay: rgba(15, 17, 21, 0.7);
  --color-dark-rbga025: rgba(15, 17, 21, 0.25);
  --color-dark-rbga010: rgba(15, 17, 21, 0.1);

  --offset-x: 0;
  --offset-y: 0.4em;
  --inset-y: -0.4em;
  --blur-radius: 0.4em;
  --spread-radius: 0.4em;

  --shadow: var(--color-dark-rbga025) var(--offset-x) var(--offset-y) var(--blur-radius);
  --shadow-inset: inset var(--color-dark-rbga025) var(--offset-x) var(--offset-y) var(--blur-radius);
  --shadow-reverse: var(--color-dark-rbga025) var(--offset-x) var(--inset-y) var(--blur-radius);
  --shadow-reverse-inset: inset var(--color-dark-rbga025) var(--offset-x) var(--inset-y) var(--blur-radius);
  --shadow-main: var(--color-dark-rbga025) 0 0 var(--blur-radius) var(--spread-radius);

  --comment-img-size: 75px;

  --border-radius: 0.3em;

  --border-normal: 0.1em;
  --border-fat: 0.15em;

  --spacing-xsmall: 0.15em;
  --spacing-small: 0.3em;
  --spacing-normal: 0.6em;
  --spacing-large: 1.2em;

  --font-size-small: 0.85em;

  --color-fandom-tags: var(--color-selection); /* fandom tags */
  --color-mature-tags: var(--color-red); /* mature tags, arcive explicit warnings (underage, non-con, ...) */
  --color-warning-tags: var(--color-orange); /*  choose not to warn tag */
  --color-platonic-tags: var(--color-yellow); /* platonic relationship tags */
  --color-explicit-tags: var(--color-purple); /* explicit relationship tags */
  --color-character-tags: var(--color-green); /* character tags */
  --color-freeform-tags: var(--color-blue); /* freeform tags */
}
