:root {
  --color-dark-rbga070: rgba(15, 17, 21, 0.7);
  --color-dark-rbga025: rgba(15, 17, 21, 0.25);
  --color-dark-rbga010: rgba(15, 17, 21, 0.1);

  --offset-x: 0;
  --offset-y: 0.4em;
  --blur-radius: 0.4em;

  --shadow: var(--color-dark-rbga025) 0 0.4em 0.4em;
  --shadow-inset: inset var(--color-dark-rbga025) 0 0.4em 0.4em;

  --comment-img-size: 50px;

  --border-radius: 0.3em;
  --tag-border-radius: 1em;

  --border-normal: 0.1em;
  --border-fat: 0.15em;

  --spacing-xsmall: 0.15em;
  --spacing-small: 0.3em;
  --spacing-normal: 0.6em;
  --spacing-normal-neg: -0.6em; /* chage as soon as calc() is supported */
  --spacing-large: 1.2em;
  --spacing-xlarge: 1.8em;

  --spacing-sticky-top: 4em;

  --font-size-xlarge: 1.4em;
  --font-size-large: 1.2em;
  --font-size-big: 1.1em;
  --font-size-normal: 1em;
  --font-size-small: 0.9em;
  --font-size-xsmall: 0.85em;
  --font-size-tiny: 0.75em;

  --form-element-padding: 0.2em var(--spacing-small);

  --color-modal-overlay: var(--color-dark-rbga070);

  --color-fandom-tags: var(--color-selection);
  --color-mature-tags: var(--color-red);
  --color-no-warning-tag: var(--text-primary);
  --color-choosenotto-warning-tag: var(--color-orange);
  --color-explicit-warning-tags: var(--color-red);
  --color-explicit-relationship-tags: var(--color-purple);
  --color-platonic-relationship-tags: var(--color-yellow);
  --color-character-tags: var(--color-green);
  --color-freeform-tags: var(--color-blue);

  --color-explicit-rating: var(--color-purple);
  --color-mature-rating: var(--color-red);
  --color-teen-rating: var(--color-yellow);
  --color-gen-rating: var(--color-green);

  --color-notice: var(--color-yellow);
  --color-caution: var(--color-orange);
  --color-error: var(--color-red);
  --color-alert-flash: var(--color-purple);

  --earmark-corner-size: 3em;

  --main-font-size: var(--font-size-xsmall);
  --dashboard-font-size: var(--font-size-xsmall);
  --header-font-size: var(--font-size-xsmall);
  --footer-font-size: var(--font-size-tiny);
  --tag-font-size: var(--font-size-small);
  --code-font-size: var(--font-size-xsmall);

  scrollbar-color: var(--text-highlight) var(--color-dark-rbga070);
}

html,
body,
#outer {
  color: var(--text-primary);
  background: var(--bg-base);
  background-size: cover;
}

#header {
  font-size: var(--header-font-size);
}

#footer {
  font-size: var(--footer-font-size);
}

#main {
  font-size: var(--main-font-size);
}

#dashboard {
  font-size: var(--dashboard-font-size);
}

#header h1.heading a span,
#header h1.heading a sup,
#header h1.heading a img {
  display: none;
}

#header h1.heading a:before {
  content: "AO3";
}

html,
p,
blockquote,
select,
button,
a.work,
.bookmark .user .meta,
dd.fandom.tags a.tag,
h5.heading:is(.fandoms, .tags) a.tag,
input,
textarea,
body,
.toggled form,
.dynamic form,
.secondary,
#footer button,
.dropdown {
  color: var(--text-primary);
  font-family: "Noto Sans", sans-serif;
}

h1.heading > a > span,
h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: "Fjalla One", sans-serif;
}

h1,
h2 {
  font-size: var(--font-size-xlarge);
}

h3 {
  font-size: var(--font-size-large);
}

h4 {
  font-size: var(--font-size-big);
}

h5 {
  font-size: var(--font-size-small);
}

h6 {
  font-size: var(--font-size-xsmall);
}

.home .header h2 {
  border: 0;
}

.post .required .warnings,
form dd.required,
dd.required {
  color: var(--text-primary);
}

kbd,
tt,
code,
var,
pre,
samp,
#skin_css {
  font-family: "Martian Mono", "Monaco", "Consolas", Courier, monospace;
  font-size: var(--code-font-size);
}

textarea {
  border: thin solid var(--bg-tertiary);
  box-shadow: none;
  background: var(--bg-tertiary);
  color: var(--text-highlight);
  width: -moz-available;
}

input,
#main form.search input[type="text"],
#main form.search.simple input[type="text"],
#header #search .text {
  margin: 0;
  border: thin solid var(--bg-tertiary);
  box-shadow: none;
  background: var(--bg-tertiary);
  color: var(--text-highlight);
  border-radius: var(--border-radius);
  padding: var(--form-element-padding);
  transition: color 0.2s ease, border-color 0.2s ease;
}

input:is(:hover),
#main form.search input[type="text"]:is(:hover),
#main form.search.simple input[type="text"]:is(:hover),
#header #search .text:is(:hover),
textarea:hover {
  color: var(--text-primary);
  border-color: var(--text-highlight);
}

input:is(:focus, :focus-visible),
#main form.search input[type="text"]:is(:focus, :focus-visible),
#main form.search.simple input[type="text"]:is(:focus, :focus-visible),
#header #search .text:is(:focus, :focus-visible),
.filters .expandable input[type="text"]:is(:focus, :focus-visible),
textarea:focus {
  background: var(--bg-primary);
  color: var(--text-primary);
  box-shadow: var(--shadow-inset);
  border-color: var(--color-link-action-hover);
  outline: none;
}

/* form.single.simple .submit,
form.search.simple .submit {
  display: inline;
  float: none;
  padding: 0 var(--spacing-small) var(--spacing-small) 0;
  text-align: center;
} */

#main form.single.simple .submit input,
#main form.search.simple .submit input,
#header #search .submit input {
  border: thin solid var(--bg-highlight);
  border-radius: var(--border-radius);
  box-shadow: none;
  background: var(--bg-highlight);
  color: var(--text-highlight);
  padding: var(--form-element-padding);
  margin: 0;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

#main form.single.simple .submit input:is(:hover, :focus, :focus-visible),
#main form.search.simple .submit input:is(:hover, :focus, :focus-visible),
#header #search .submit input:is(:hover, :focus, :focus-visible) {
  border: thin solid var(--color-link-action-hover);
  background: var(--color-link-action-hover);
  color: var(--bg-primary);
  box-shadow: none;
  margin: 0;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--color-selection);
}

input[type="radio"]:focus-visible,
input[type="checkbox"]:focus-visible,
select:focus-visible {
  outline: var(--border-normal) solid var(--color-selection);
}

select {
  background-color: var(--bg-tertiary);
  border: thin solid var(--bg-tertiary);
  border-radius: var(--border-radius);
  color: var(--text-highlight);
  padding: var(--form-element-padding);
  vertical-align: middle;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

select:hover {
  color: var(--text-primary);
  border-color: var(--text-highlight);
}

select:is(:focus, :focus-visible) {
  background: var(--bg-primary);
  color: var(--text-primary);
  box-shadow: var(--shadow-inset);
  border-color: var(--color-link-action-hover);
  transition: none;
  outline: none;
}

#main {
  background: var(--bg-primary);
  padding-top: var(--spacing-large);
}

#main.dashboard {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

/* user stuff */

.userstuff h1,
.userstuff h2,
.userstuff h3,
.userstuff h4,
.userstuff h5,
.userstuff h6 {
  color: var(--text-primary);
}

.filters h4,
.userstuff h4 {
  font-weight: normal;
}

.faq .categories h3,
.userstuff h3 {
  border-color: var(--bg-highlight);
}

a.rss span {
  background: none;
  padding-left: 0;
}

.userstuff hr {
  border-color: var(--text-highlight);
}

.required {
  color: var(--color-caution);
}

.required.notice,
.error,
.alert.flash {
  color: var(--text-primary);
}

.picture .header {
  border: 0;
}

.work .wrapper {
  margin-top: var(--spacing-large);
}

.userstuff blockquote {
  border-inline-start: var(--border-fat) solid var(--color-selection);
  background: var(--bg-highlight);
}

.preface h3 {
  border: 0;
}

/* modal */

#modal-bg {
  background: var(--color-modal-overlay);
}

#modal {
  background: var(--bg-primary);
  border: var(--spacing-normal) solid var(--bg-base);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

#modal .content {
  border-bottom: var(--border-normal) solid var(--bg-highlight);
}

#modal .footer {
  font-size: var(--font-size-xsmall);
}

#symbols-key dl {
  border-radius: var(--border-radius);
  border: var(--border-normal) solid var(--bg-highlight);
}

/* header */

#header:has(+ #inner > #main:not(.chapters-show, .works-show)) {
  position: sticky;
}

#header {
  padding: var(--spacing-normal);
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  top: 0;
  z-index: 10;
  background: var(--bg-base);
  margin: 0;
  box-shadow: var(--shadow);
}

#header > h1.heading {
  order: 0;
  flex-grow: 0;
  padding: 0;
}

#header > h1.heading a {
  font-size: var(--font-size-large);
}

#header nav {
  order: 1;
  flex-grow: 1;
  padding: 0;
}

#login,
#greeting {
  margin-right: 0;
}

#header #greeting {
  order: 2;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

#greeting p.icon {
  padding: 0 var(--spacing-small);
  order: 0;
}

#header .user {
  padding: 0;
  order: 1;
}

#greeting .user > li,
#header .primary > li {
  margin: 0 var(--spacing-xsmall);
}

#greeting .user > li.dropdown > a[href^="/users/"] {
  text-indent: -9999px;
  line-height: 0;
}

#greeting .user > li.dropdown > a[href^="/users/"]:after {
  content: "Account";
  text-indent: 0;
  display: block;
  line-height: initial;
}

#header .primary a,
#header .user a {
  padding: var(--spacing-small) var(--spacing-normal);
}

#login,
#header .primary {
  background: none;
  box-shadow: none;
}

#header .primary {
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  align-items: flex-end;
}

#header .primary > li:first-of-type {
  margin-left: var(--spacing-large);
}

#header .user > li > a,
#small-login .action,
#header .primary a {
  color: var(--text-primary);
}

#header a,
#header a:visited,
#header .user a:is(:hover, :focus, :focus-visible),
#header .user .dropdown:has(a:hover, a:focus, a:focus-visible),
#header .primary .open a,
#header .primary .dropdown a:is(:hover, :focus, :focus-visible),
#header .primary .dropdown:is(:hover, :focus, :focus-visible) a {
  color: var(--text-primary);
}

#header h1.heading a:is(:hover, :focus, :focus-visible) {
  color: var(--color-link-action-hover);
}

#header .open a,
#login .open a:is(:link, :visited, :hover, :focus, :focus-visible),
#greeting .user a:is(:hover, :focus, :focus-visible),
#header .dropdown a:is(:hover, :focus, :focus-visible),
#header .dropdown:is(:hover, :focus, :focus-visible) a,
#header .dropdown .menu a:is(:hover, :focus, :focus-visible) {
  background: var(--bg-highlight);
}

#header .menu li {
  border-bottom: var(--border-normal) solid var(--bg-secondary);
}

#small_login {
  box-shadow: var(--shadow);
  border: 0;
  border-radius: var(--border-radius);
}

#small_login .footnote.actions a,
#small_login .footnote.actions a:is(:link, :visited) {
  border: 0;
}

#small_login .footnote.actions a:is(:hover, :focus) {
  color: var(--color-link-action-hover);
}

#small_login,
#header .menu {
  background: var(--bg-highlight);
  box-shadow: var(--shadow);
}

#header .dropdown .menu a:is(:hover, :focus, :focus-visible) {
  background: var(--color-link-action-hover);
  color: var(--bg-primary);
}

#header .menu {
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
}

#greeting .menu {
  border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
}

#greeting .open a,
#header li.dropdown,
#header .user a:focus:is(:focus, :focus-visible),
#header .dropdown-toggle:is(:hover, :focus, :focus-visible),
#greeting .dropdown:is(:hover, :focus, :focus-visible) > a {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

#greeting .user > li:not(.dropdown) > :is(:hover, :focus, :focus-visible) {
  border-radius: var(--border-radius);
}

#greeting p.icon {
  display: none;
}

#header li.search {
  padding-left: 0 var(--spacing-normal);
  order: -1;
}

#header li.search form label {
  display: none;
}

#header li.search fieldset {
  position: relative;
  margin-left: var(--spacing-normal);
}

#header #search .text {
  margin-right: 0;
  padding-right: 1.6em;
  width: 15vw;
}

#header li.search fieldset::before {
  padding: var(--spacing-xsmall) var(--spacing-small);
  right: 0;
}

#header #search .button,
#header #search span.actions {
  display: none;
}

#site_search_tooltip {
  background: var(--bg-tertiary);
  color: var(--text-primary);
  border: thin solid var(--text-highlight);
  padding: var(--spacing-small);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  box-shadow: var(--shadow);
  display: none;
  z-index: -1;
  left: var(--spacing-small);
  right: var(--spacing-normal);
  top: 0;
  transition: display 0.25s ease, top 0.25s ease;
  transition-behavior: allow-discrete;
}

.search input:focus + #site_search_tooltip {
  top: 2.2em;
  display: inline;
}

/* footer */
#footer {
  border: none;
  background: none;
  color: var(--text-primary);
}

#footer .heading {
  color: var(--text-primary);
}

#footer a,
#footer a:link,
#footer a:visited,
#footer button,
#footer button:visited {
  color: var(--text-highlight);
  text-decoration: none;
  transition: color 0.2s ease;
}

#footer a:is(:hover, :focus, :focus-visible),
#footer a:link:is(:hover, :focus, :focus-visible),
#footer a:visited:is(:hover, :focus, :focus-visible),
#footer button:is(:hover, :focus, :focus-visible),
#footer button:visited:is(:hover, :focus, :focus-visible) {
  color: var(--color-link-action-hover);
}

/* dashboard */

#dashboard,
#dashboard.own {
  border: 0;
  position: sticky;
  top: var(--spacing-sticky-top);
}

#dashboard ul {
  border: 0;
  padding: var(--spacing-normal) 0;
}

#dashboard ul:not(:last-child) {
  border-bottom: var(--border-fat) solid var(--bg-highlight);
}

#dashboard .secondary {
  box-shadow: none;
}

.download a,
#dashboard a,
#dashboard span {
  color: var(--text-primary);
  border-radius: var(--border-radius);
}

.download a:is(:hover, :focus, :focus-visible),
#dashboard a:is(:hover, :focus, :focus-visible) {
  background: var(--color-link-action-hover);
  color: var(--bg-primary);
}

#dashboard .current {
  color: var(--color-selection);
  background: none;
  font-weight: bold;
}

#dashboard a.expanded {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.javascript .work.navigation:has(.chapter, .download) .secondary {
  border-radius: var(--border-radius);
  border: 0;
  background: var(--bg-secondary);
  box-shadow: var(--shadow);
}

.work .expandable.secondary {
  border: 0;
  top: var(--spacing-sticky-top);
}

.secondary,
.toggled form,
.dynamic form {
  background: var(--bg-secondary);
  box-shadow: var(--shadow);
}

.toggled form,
.dynamic form {
  border-radius: var(--border-radius);
  border: 0;
}

/* splash */
.splash {
  display: flex;
  flex-flow: row wrap;
}

.splash .favorite {
  order: 0;
}
.splash .latest.messages {
  order: 1;
}

.splash .random.readings {
  order: 2;
}

.splash .news {
  order: 3;
}

.splash .social {
  order: 999;
}

.splash p.jump {
  margin: 0;
}
.splash .module h3 {
  border-bottom: var(--border-normal) solid var(--bg-highlight);
  color: var(--text-primary);
}

.splash .social p.note,
.splash .news li {
  border: 0;
  background: var(--bg-secondary);
  border-radius: var(--border-radius);
  padding: var(--spacing-small) var(--spacing-normal);
  box-shadow: var(--shadow);
}

/* notice */
#header h2.collections {
  order: 4;
  width: 100%;
  position: relative;
  background: none;
  font-size: var(--font-size-big);
  text-align: center;
  padding: var(--spacing-small);
  border: thin solid var(--color-selection);
  border-left: var(--border-radius) solid var(--color-selection);
  border-right: var(--border-radius) solid var(--color-selection);
  border-radius: var(--border-radius);
  margin-top: var(--spacing-small);
  box-shadow: var(--shadow);
  z-index: 0;
}

.notice,
.comment_notice,
.kudos_notice,
ul.notes {
  border-left: var(--border-radius) solid var(--color-notice);
  border-right: var(--border-radius) solid var(--color-notice);
  border-color: var(--color-notice);
}

.required.notice,
.caution {
  border-left: var(--border-radius) solid var(--color-caution);
  border-right: var(--border-radius) solid var(--color-caution);
  border-color: var(--color-caution);
  color: var(--text-primary); /* override ao3 .caution rule */
}

.error,
.comment_error,
.kudos_error {
  border-left: var(--border-radius) solid var(--color-error);
  border-right: var(--border-radius) solid var(--color-error);
  border-color: var(--color-error);
}

.alert.flash,
.alert.flash.notice {
  border-left: var(--border-radius) solid var(--color-alert-flash);
  border-right: var(--border-radius) solid var(--color-alert-flash);
  border-color: var(--color-alert-flash);
}

#header h2.collections:after,
:not(.autocomplete) > .notice:after,
.comment_notice:after,
.kudos_notice:after,
ul.notes:after,
.error:after,
.comment_error:after,
.kudos_error:after,
.required.notice:after,
.caution:after,
.alert.flash:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.1;
  z-index: -1;
}

#header h2.collections:after {
  background-color: var(--color-selection);
}

:not(.autocomplete) > .notice:after,
.comment_notice:after,
.kudos_notice:after,
ul.notes:after {
  background-color: var(--color-notice);
}

.required.notice:after,
.caution.notice:after,
.caution:after {
  background-color: var(--color-caution);
}

.error:after,
.error.notice:after,
.comment_error:after,
.comment_error.notice:after,
.kudos_error.notice:after,
.kudos_error:after {
  background-color: var(--color-error);
}

.alert.flash:after,
.alert.flash.notice:after {
  background-color: var(--color-alert-flash);
}

form :not(.autocomplete) > .notice,
form ul.notes,
:not(.autocomplete) > .notice,
.comment_notice,
.kudos_notice,
ul.notes,
.caution,
div.error,
.error,
.comment_error,
.kudos_error,
.alert.flash {
  background: none;
  box-shadow: var(--shadow);
  padding: var(--spacing-normal) var(--spacing-small);
  border-radius: var(--border-radius);
  z-index: 0;
  position: relative;
  font-size: var(--font-size-small);
}

form ul.notes,
ul.notes,
.error ul,
.notice ul,
.caution ul,
.alert.flash ul {
  padding: var(--spacing-small) 2.5em;
}

form ul.notes,
ul.notes {
  box-shadow: none;
}

.announcement .action {
  background: var(--bg-highlight);
  border: 0;
}

/* links */
a,
a:is(:link, :visited) {
  color: var(--text-highlight);
  border: 0;
}

a:is(:hover, :focus, :focus-visible),
.blurb h4 a:link:is(:hover, :focus, :focus-visible),
a:visited:is(:hover, :focus, :focus-visible),
.bookmark .count a:is(:hover, :focus, :focus-visible),
.listbox .heading a:is(:hover, :focus, :focus-visible) {
  color: var(--color-link-action-hover);
}

.bookmark .count a {
  color: var(--text-highlight);
  background: var(--bg-primary);
  border-radius: var(--border-radius);
}

/* comments */

.comment div.icon img {
  position: absolute;
  top: var(--spacing-normal);
  left: var(--spacing-normal);
  width: var(--comment-img-size);
  height: var(--comment-img-size);
}

.comment div.icon,
.comment .icon {
  width: 0;
  height: 0;
}

.comment div.icon,
.comment div.icon a {
  border: 0;
}

.comment h4.byline {
  background: none;
  margin-left: var(--comment-img-size);
  padding-left: var(--spacing-small);
  height: var(--comment-img-size);
}

.splash .comment .userstuff {
  margin: var(--spacing-normal) 0;
}

.comment .userstuff {
  clear: left;
  margin: var(--spacing-normal) 0;
  padding: var(--spacing-small) var(--spacing-normal);
  background: var(--bg-primary);
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
  position: relative;
}
.comment .userstuff:before {
  border-color: var(--bg-primary) transparent;
  border-style: solid;
  border-width: 0 0.643em 0.643em;
  content: "";
  left: 0;
  position: absolute;
  top: var(--spacing-normal-neg);
}

div.comment-preview.userstuff {
  border: 0 !important;
}

div.comment,
li.comment {
  border: none;
  padding: var(--spacing-normal);
  border-radius: var(--border-radius);
}

.comment .posted {
  padding: var(--spacing-small) 0 0 var(--spacing-small);
}
span.unread,
.replied,
span.claimed,
.actions span.defaulted {
  color: var(--color-red);
  background: unset;
  font-family: "Noto Sans", sans-serif;
  border: thin solid var(--color-red);
}

.replied {
  color: var(--color-green);
  border-color: var(--color-green);
  background: unset;
}

.own,
.draft,
.draft .wrapper,
.unread,
.child,
.unwrangled,
.unreviewed {
  background: var(--bg-secondary);
}

/* tags */
a.tag {
  border-radius: var(--tag-border-radius);
  margin: var(--spacing-small) 0;
  font-size: var(--tag-font-size);
  padding: 0 var(--spacing-normal);
  font-weight: normal;
  border: var(--border-normal) solid;
  display: inline-block;
  word-break: keep-all;
  word-wrap: unset;
  transition: color 0.2s ease, border-color 0.2s ease;
}

a.tag:is(:hover, :focus, :focus-visible) {
  box-shadow: var(--shadow);
  background: unset;
  color: var(--color-link-action-hover) !important;
  border-color: var(--color-link-action-hover) !important;
}

.splash .favorite a.tag {
  padding: var(--spacing-xsmall) var(--spacing-normal);
  margin: var(--spacing-small) 0;
  font-weight: normal;
  box-shadow: var(--shadow);
  border: 0;
  color: var(--text-primary);
}

.splash .favorite li:nth-of-type(odd) a.tag {
  background: var(--bg-secondary);
  border-color: var(--bg-secondary);
}

.splash .favorite li:nth-of-type(even) a.tag {
  background: var(--bg-highlight);
  border-color: var(--bg-highlight);
}

dd.relationship a.tag,
li.relationships a.tag {
  font-style: oblique 10deg;
}

.wrapper .work.meta.group {
  display: inline-flex;
  flex-wrap: wrap;
}

.wrapper .work.meta.group dt {
  display: none;
}

.wrapper .work.meta.group dd:is(.tags) {
  width: 100%;
  margin: 0;
  order: 2;
}

.wrapper .work.meta.group dd.fandom {
  order: 1;
}

.wrapper .work.meta.group dd:is(.rating, .category) {
  order: 0;
}

.wrapper .work.meta.group dd:is(.series, .collections) {
  order: 3;
  width: 100%;
  margin-left: 0;
}

.wrapper .work.meta.group dd:is(.language, .stats) {
  width: auto;
  order: 4;
  margin-right: var(--spacing-large);
  margin-left: 0;
}

.wrapper .work.meta.group dd.freeform {
  margin-bottom: var(--spacing-normal);
}

.wrapper .work.meta.group dd.tags li {
  padding: 0 var(--spacing-small) 0 0;
}

.commas li:after {
  content: none;
}

.tags.commas:has(a.tag, a[data-remote="true"]) {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.tags.commas li {
  margin: 0;
}

h2.heading a.tag {
  margin: 0;
  font-size: var(--tag-font-size);
  border: 0;
  font-weight: unset;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
}

h2.heading a.tag:is(:hover, :focus, :focus-visible) {
  color: var(--color-link-action-hover);
}

.listbox h2.heading a.tag:is(:hover, :focus, :focus-visible) {
  border-bottom: var(--border-normal) solid;
}

.listbox .heading a.tag:visited:is(:hover, :focus, :focus-visible),
dd.fandom.tags a.tag,
h5.fandoms.heading a.tag {
  color: var(--color-fandom-tags);
  border-color: var(--color-fandom-tags);
  background: unset;
  font-size: var(--tag-font-size);
}

dd.warning a.tag,
li.warnings a.tag {
  color: var(--color-explicit-warning-tags);
  border-color: var(--color-explicit-warning-tags);
  background: unset;
}

dd.category a.tag[href*="Gen"],
dd.category a.tag[href*="*s*"],
dd.category a.tag[href*="Multi"],
dd.category a.tag[href*="Other"] {
  color: var(--color-no-warning-tag);
  border-color: var(--color-no-warning-tag);
  background: unset;
}

dd.warning a.tag[href*="No%20Archive%20Warnings%20Apply"],
li.warnings a.tag[href*="No%20Archive%20Warnings%20Apply"] {
  color: var(--color-no-warning-tag);
  border-color: var(--color-no-warning-tag);
  background: unset;
}

dd.warning a.tag[href*="Choose%20Not%20To%20Use%20Archive%20Warnings"],
li.warnings a.tag[href*="Choose%20Not%20To%20Use%20Archive%20Warnings"] {
  color: var(--color-choosenotto-warning-tag);
  border-color: var(--color-choosenotto-warning-tag);
  background: unset;
}

dd.relationship a.tag,
li.relationships a.tag {
  color: var(--color-platonic-relationship-tags);
  border-color: var(--color-platonic-relationship-tags);
  background: unset;
}

dd.relationship a.tag[href*="*s*"],
li.relationships a.tag[href*="*s*"] {
  color: var(--color-explicit-relationship-tags);
  border-color: var(--color-explicit-relationship-tags);
  background: unset;
}

dd.character.tags a.tag,
li.characters a.tag {
  color: var(--color-character-tags);
  border-color: var(--color-character-tags);
  background: unset;
}

dd.freeform a.tag,
li.freeforms a.tag {
  color: var(--color-freeform-tags);
  border-color: var(--color-freeform-tags);
  background: unset;
}

dd.rating a.tag[href*="Explicit"] {
  color: var(--color-explicit-rating);
  border-color: var(--color-explicit-rating);
  background: unset;
}

dd.rating a.tag[href*="Mature"] {
  color: var(--color-mature-rating);
  border-color: var(--color-mature-rating);
  background: unset;
}

dd.rating a.tag[href*="Teen%20And%20Up%20Audiences"] {
  color: var(--color-teen-rating);
  border-color: var(--color-teen-rating);
  background: unset;
}

dd.rating a.tag[href*="General%20Audiences"] {
  color: var(--color-gen-rating);
  border-color: var(--color-gen-rating);
  background: unset;
}

/* listbox / blurb */

.admin .navigation.actions {
  display: flex;
  float: none;
}

.admin .header h2 {
  text-align: left;
  margin-left: 0;
}

.admin .primary .icon,
.admin .header h3 {
  display: none;
}

.admin li:has(.rss) {
  position: absolute;
  top: 0;
  right: var(--spacing-normal);
}

.admin .navigation.actions p {
  padding: 0;
  width: 100%;
  text-align: left;
}

.admin .navigation.actions li select {
  width: auto;
  clear: both;
}

.home .primary {
  background: var(--bg-secondary);
  padding: var(--spacing-normal);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  float: none;
  width: auto;
}

.primary .icon {
  top: var(--spacing-small);
}

.statistics .index li:nth-of-type(2n) {
  background: var(--bg-tertiary);
}
.statistics .index li {
  border-bottom: var(--border-fat) solid var(--bg-highlight);
}

.listbox > .heading {
  color: var(--text-primary);
}

.listbox .heading a,
.listbox .heading a:visited,
.blurb h4 a:link,
.blurb h4 img {
  color: var(--text-highlight);
  transition: color 0.2s ease;
}

.listbox .heading a:is(:hover, :focus, :focus-visible),
.blurb h4 a:link:is(:hover, :focus, :focus-visible) {
  color: var(--color-link-action-hover);
}

.blurb h4.heading a:first-child {
  font-family: "Fjalla One", sans-serif;
  font-size: var(--font-size-large);
  width: 100%;
  display: inline-block;
  margin-bottom: var(--spacing-small);
}

.blurb ul.required-tags li a:is(:hover, :focus, :focus-visible) {
  border: 0;
}

.blurb .header .heading {
  margin: var(--spacing-small) 5.25em var(--spacing-small) 65px;
  font-size: var(--font-size-normal);
  font-family: "Noto Sans", sans-serif;
}

.listbox .index {
  background: none;
  padding: 0;
  border: 0;
  box-shadow: var(--shadow);
}

li.search fieldset {
  font-size: var(--font-size-normal);
  background: transparent;
  position: relative;
}

li.search fieldset::before {
  position: absolute;
  z-index: 1;
  font-weight: bold;
  font-size: var(--font-size-large);
  color: var(--text-highlight);
  content: "\2315";
  filter: opacity(0.5);
  transition: color 0.2s ease;
}

li.search:has(.text:hover) fieldset::before {
  filter: opacity(1);
}

li.search:has(.text:focus) fieldset::before {
  filter: opacity(1);
  color: var(--color-link-action-hover);
}

#main li.search fieldset::before {
  padding: 0.05em var(--spacing-small);
  right: var(--spacing-xsmall);
}

#main li.search input[type="text"].text {
  padding-right: 1.6em;
}

#main li.search input[type="submit"] {
  display: none;
}

.chapter .preface,
div.preface,
.reading h4.viewed,
.statistics .index li,
.bookmark .user,
.wrapper dl.meta,
.listbox li.blurb,
.blurb.group,
li.comment.group {
  background: var(--bg-secondary);
  border: 0;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: var(--spacing-small) var(--spacing-normal);
}

.works .wrapper,
.works-show .wrapper {
  background: var(--bg-secondary);
  border-radius: var(--border-radius);
}

div.preface .byline a {
  font-family: "Noto Sans", sans-serif;
  font-size: var(--font-size-xsmall);
}

.reading .deleted h4.viewed,
.reading h4.viewed {
  font-family: "Noto Sans", sans-serif;
  font-size: var(--font-size-small);
}

.reading .deleted h4.viewed,
.reading h4.viewed,
.bookmark .user {
  background: var(--bg-primary);
  box-shadow: none;
  margin-bottom: var(--spacing-small);
}

.bookmark .short .status {
  top: var(--spacing-normal-neg);
}

dl.index dd {
  background: none;
}

#main .wrapper {
  box-shadow: none;
}

#main:not(.dashboard) .blurb.group.own {
  border: 1px solid currentColor;
}

/* menu actions */

.actions a,
.actions a:link,
.action,
.action:link,
.actions button,
.actions input,
.actions label,
input[type="submit"],
button,
.current,
.actions a:visited,
.action:visited,
.action a:is(:link, :visited) {
  background: var(--bg-highlight);
  border: 0;
  color: var(--text-primary);
  transition: none;
}

.actions label:not(:has(input[type="checkbox"])) {
  background: none;
}

.actions li select {
  margin: 0 var(--spacing-small);
}

form.verbose input[type="submit"]:is(:hover, :focus, :focus-visible),
.actions a:is(:hover, :focus, :focus-visible),
.actions button:is(:hover, :focus, :focus-visible),
.actions input[type="submit"]:is(:hover, :focus, :focus-visible),
input[type="submit"]:is(:hover, :focus, :focus-visible),
label.action:is(:hover, :focus, :focus-visible),
.action:is(:hover, :focus, :focus-visible) {
  border: 0;
  box-shadow: none;
  background: var(--color-link-action-hover);
  color: var(--bg-primary);
  cursor: pointer;
}

.actions a.bookmark_form_placement_close:is(:hover, :focus, :focus-visible),
.actions.cancel a:is(:hover, :focus, :focus-visible) {
  background: var(--color-red);
}

.current,
a.current,
a:link.current,
.current a:visited {
  background: none;
  box-shadow: none;
  color: var(--color-selection);
  font-weight: bold;
}

/* form / filter */
form.single fieldset,
form > dl,
fieldset {
  background: var(--bg-secondary);
  border: 0;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.listbox .index {
  box-shadow: none;
}

fieldset fieldset.listbox {
  overflow: visible;
  margin: var(--spacing-normal);
  padding: var(--spacing-normal);
  background: none;
  box-shadow: none;
  border: 0;
}

.listbox,
.listbox ol.index {
  overflow: hidden;
  background: none;
  padding: 0;
  border: 0;
  box-shadow: none;
}

/* form dl, */
fieldset fieldset,
fieldset dl dl,
form blockquote.userstuff {
  background: none;
  box-shadow: none;
}

fieldset dl,
fieldset.actions,
fieldset dl fieldset dl {
  background: transparent;
}

/* form dl, */
fieldset dl dl,
fieldset fieldset fieldset,
fieldset fieldset dl dl,
dd.hideme,
form blockquote.userstuff {
  border: 0;
  box-shadow: none;
}

form dt {
  border-color: var(--bg-highlight);
}

form.single legend,
form.verbose legend,
.verbose form legend {
  background: var(--bg-secondary);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: none;
  border: 0;
  font-family: "Fjalla One", sans-serif;
  font-size: var(--font-size-large);
}

form.single fieldset {
  margin: 0;
}

form.single .autocomplete li.input {
  margin: 0;
}

form.single .autocomplete input[type="text"] {
  width: auto;
  margin: 0;
}
form.single .submit input[type="submit"] {
  vertical-align: inherit;
}

#skin_media_checkboxes {
  padding: var(--spacing-small) var(--spacing-normal);
  border-radius: var(--border-radius);
  background: var(--bg-tertiary);
  box-shadow: none;
}

fieldset fieldset fieldset {
  background: transparent;
}

.filtered .index:not(:has(+ form.filters)) {
  width: 100%;
}

/* sticky filters box */
form.filters {
  margin: var(--spacing-normal) 0;
  position: sticky;
  top: var(--spacing-sticky-top);
  box-sizing: border-box;
  width: 25%;
  padding: 0;
}

/* prevent filter box from overlapping pagination buttons */
.region:has(ol.pagination.actions) form.filters {
  margin-bottom: 4.5em;
}

.filters .group dt.bookmarker {
  border-color: var(--bg-highlight);
}

.filters input[type="text"] {
  width: -moz-available;
}

.filters dl > dd.submit:first-of-type input {
  margin: 0 0 var(--spacing-large) 0;
}

.filters dl > dd.submit:last-of-type input {
  margin: var(--spacing-large) 0 0 0;
}

.filters .submit input {
  background: var(--bg-highlight);
  border: none;
  color: var(--text-highlight);
  box-shadow: none;
}

.filters .submit input:is(:hover, :focus, :focus-visible) {
  background: var(--color-link-action-hover);
  color: var(--bg-primary);
}

.filters fieldset {
  border-radius: unset;
}
.filters > fieldset {
  border-radius: var(--border-radius);
  padding: 0 var(--spacing-small) 0 0; /* leave a little more space on the right for the scrollbar */
  margin: 0 0 0 var(--spacing-large);
  max-height: 79vh;
  overflow-x: visible;
  overflow-y: scroll;
  overflow-wrap: anywhere;
  box-sizing: border-box;
}

.filters input[type="text"],
.filters select,
.filters li.tag.added,
.filters dd.autocomplete li.input {
  font-size: var(--font-size-small);
}

.filters .expander:before {
  content: "\2B9E";
  position: absolute;
  left: 0;
}
.filters .expanded .expander:before {
  content: "\2B9F";
}

.filters .expanded .expander,
.filters .expander {
  background: none;
  color: var(--text-primary);
  padding: 0 0 0 var(--spacing-large);
  font-weight: bold;
}

.filters dt.expanded {
  border: 0;
}

.filters dt.expanded + dd.expandable {
  background-color: var(--color-dark-rbga025);
  border-top: thin solid var(--color-selection);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  width: 99%;
}

dd.expandable li {
  margin-left: var(--spacing-small);
}

dd.expandable dl.range {
  margin: 0 var(--spacing-small);
}

.filters .expander:focus-visible:before {
  color: var(--color-selection);
}

.filters [type="checkbox"],
.filters [type="radio"] {
  position: inherit;
  width: auto;
  height: auto;
  accent-color: var(--color-selection);
}

.filters .include dt.expanded + dd.expandable {
  border-top: thin solid var(--color-green);
}
.filters .include [type="checkbox"],
.filters .include [type="radio"] {
  accent-color: var(--color-green);
}

.filters .include .expander:focus-visible:before {
  color: var(--color-green);
}

.filters .exclude dt.expanded + dd.expandable {
  border-top: thin solid var(--color-red);
}

.filters .exclude [type="checkbox"],
.filters .exclude [type="radio"] {
  accent-color: var(--color-red);
}

.filters .exclude .expander:focus-visible:before {
  color: var(--color-red);
}

.filters [type="radio"] + .indicator,
.filters [type="checkbox"] + .indicator {
  display: none;
}

.filters [type="radio"]:checked + .indicator::before {
  color: var(--color-selection);
  background-image: radial-gradient(ellipse at center, var(--color-selection) 45%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(to bottom, var(--bg-primary) 0%, var(--bg-primary) 5%, var(--bg-primary) 100%);
  border: 1px solid;
}

.filters .include [type="radio"]:checked + .indicator::before {
  color: var(--color-green);
  background-image: radial-gradient(ellipse at center, var(--color-green) 45%, rgba(0, 0, 0, 0) 50%),
    linear-gradient(to bottom, var(--bg-primary) 0%, var(--bg-primary) 5%, var(--bg-primary) 100%);
  border: 1px solid;
}

.filters [type="radio"] + .indicator::before,
.filters [type="checkbox"] + .indicator::before {
  color: var(--bg-highlight);
  background: var(--color-dark-rbga010);
  border: 1px solid;
}

.filters [type="checkbox"]:checked + .indicator::before {
  color: var(--color-selection);
  background: var(--color-dark-rbga010);
  border: 1px solid;
}

.filters .include [type="checkbox"]:checked + .indicator::before {
  color: var(--color-green);
  background: var(--color-dark-rbga010);
  border: 1px solid;
}

.filters .exclude [type="checkbox"]:checked + .indicator::before {
  color: var(--color-red);
  background: var(--color-dark-rbga010);
  border: 1px solid;
}

.filters input:checked + .indicator + span {
  color: var(--color-selection);
  font-weight: normal;
}

.filters .include input:checked + .indicator + span {
  color: var(--color-green);
}

.filters .exclude input:checked + .indicator + span {
  color: var(--color-red);
}

#ui-datepicker-div {
  background: var(--bg-highlight);
  color: var(--text-primary);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  border: var(--border-normal) solid var(--text-highlight);
}

#ui-datepicker-div table,
#ui-datepicker-div th {
  background: var(--bg-secondary);
}

#ui-datepicker-div tr:hover {
  background: var(--bg-highlight);
}

#ui-datepicker-div td:hover {
  background: var(--color-selection);
}
#ui-datepicker-div td:is(:hover, :focus, :focus-visible):hover a,
#ui-datepicker-div a:is(:hover, :focus, :focus-visible) {
  color: var(--bg-primary);
}

#ui-datepicker-div a {
  font-weight: bold;
  cursor: pointer;
}

#ui-datepicker-div a:is(:hover, :focus, :focus-visible) {
  color: var(--text-highlight);
}

.ui-datepicker-calendar td.ui-datepicker-unselectable {
  cursor: default;
}

.ui-datepicker-calendar td:not(.ui-datepicker-unselectable) {
  cursor: pointer;
}

/* autocomplete */

.autocomplete.dropdown {
  background: none;
}

.autocomplete .notice {
  background: var(--bg-tertiary);
  color: var(--text-primary);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border: thin solid var(--bg-highlight);
  box-shadow: var(--shadow);
}

.autocomplete div.dropdown ul {
  color: var(--text-primary);
  background: var(--bg-tertiary);
  box-shadow: var(--shadow);
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
  border: 0;
}

li.tag.added {
  color: var(--text-primary);
  padding-right: var(--spacing-xlarge);
  margin: var(--spacing-small);
}

.autocomplete div.dropdown ul .odd {
  background: var(--bg-secondary);
}

.autocomplete div.dropdown ul .even {
  background: var(--bg-tertiary);
}

.autocomplete .tag {
  background: var(--bg-primary);
  border-radius: 1em;
  padding: var(--spacing-xsmall) var(--spacing-normal);
  position: relative;
}

.autocomplete .tag.highlighted,
.autocomplete .tag.highlighted > .delete {
  background: var(--bg-highlight);
}

dd.autocomplete li.input {
  margin-top: var(--spacing-small);
}

.filters dd.search,
form:not(.filters) .autocomplete li.input {
  padding-right: var(--spacing-normal);
}

.autocomplete span.delete {
  box-shadow: none;
  position: absolute;
  right: 0;
  margin: 0;
}

.autocomplete .delete a:is(:hover, :focus, :focus-visible) {
  border: none;
  color: var(--color-red);
}

.autocomplete div.dropdown ul li:is(:hover, :focus, :focus-visible),
.autocomplete div.dropdown ul li.selected {
  background: var(--color-link-action-hover);
  color: var(--bg-primary);
}

/* question */

a.question {
  font-size: var(--font-size-xsmall);
}

span.symbol {
  color: var(--color-fg-question);
  border-color: var(--color-fg-question);
  background: var(--bg-tertiary);
  box-shadow: var(--shadow);
}

/* table */
table,
th,
tr:hover,
col.name {
  background: transparent;
}

th,
col.name {
  font-weight: 600;
}

th,
tr:hover,
col.name {
  border: 0;
  border-bottom: 1px solid var(--bg-highlight);
}

thead,
tbody tr,
tfoot {
  border-color: var(--bg-highlight);
}

tbody tr:nth-of-type(odd) {
  background: var(--color-dark-rbga010);
}

tbody tr:nth-of-type(even) {
  background: var(--color-dark-rbga025);
}

/* invalid */

.LV_invalid_field,
input.LV_invalid_field:hover,
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover,
textarea.LV_invalid_field:active {
  border-color: var(--color-caution);
}

.LV_invalid:before {
  border-color: var(--color-caution) transparent;
}

.LV_invalid {
  background: var(--bg-tertiary);
  border: var(--border-normal) solid var(--color-caution);
  color: var(--color-caution);
  box-shadow: var(--shadow);
  display: block;
}

.new_comment .LV_validation_message {
  position: relative;
  margin: var(--spacing-normal) 0 var(--spacing-small) 0;
  display: inline-block;
  z-index: 1;
}

form:has(.LV_invalid) input[type="submit"],
form:has(.LV_invalid) input[type="submit"]:is(:focus, :focus-active, :hover) {
  color: var(--bg-primary);
  background: var(--bg-highlight);
  cursor: default;
}

/*
 Statistics Chart
 
 @use: https://codepen.io/sosuke/pen/Pjoqqp to calculate filter values to emulate colors of choice
*/

#stat_chart {
  margin: var(--spacing-normal) 0;
  background: var(--bg-secondary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

#stat_chart svg /* style to comply with encompassing #stat_chart div */ {
  border-radius: var(--border-radius);
}

#stat_chart svg > rect /* make transparent, so chart uses the bg from the #stat_chart div */ {
  filter: var(--filter-chart-bg);
}

#stat_chart .google-visualization-tooltip path /* tooltip */ {
  filter: var(--filter-chart-tooltip);
}

#stat_chart g:has(> rect[fill="#993333"]) > rect /* bar color & legend color */ {
  filter: var(--filter-chart-accent);
}

#stat_chart g:has(> rect[fill="#993333"]) > rect:hover, /* bar color on hover */
#stat_chart g:has(> rect[fill="#993333"]) > rect[fill="none"] /* hover "shadow" */ {
  filter: var(--filter-chart-accent-hover);
}

#stat_chart rect[fill="#cccccc"] /* chart guide line even */ {
  filter: var(--filter-chart-guide-even);
}

#stat_chart rect[fill="#ebebeb"] /* chart guide line odd */ {
  filter: var(--filter-chart-guide-odd);
}

#stat_chart text /* text color */,
#stat_chart rect[fill="#333333"] /* chart line bottom */ {
  filter: var(--filter-chart-text);
}

#stat_chart text {
  font-family: "Noto Sans", sans-serif;
}

/** ------------- **/
/** REPLACE ICONS **/
/** ------------- **/

/* Hide default icons in symbol explanation popup */
#bookmark-symbols-key dt img,
#symbols-key dd dt img {
  display: none;
}

/* Create new pseudo element for our new icons in symbol explanation popup */
#bookmark-symbols-key dt:has(img):before,
#symbols-key dd dt:has(img):before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
}

/** QUARTETT ICONS **/

/* Ratings */
#symbols-key dd dt:has(img[alt="G"]):before,
.required-tags .rating-general-audience {
  background: center no-repeat url(https://ucarecdn.com/2dd37d92-6d10-4658-a46e-e96c7ff553b9/generalaudience.png);
  background-size: 22px;
}

#symbols-key dd dt:has(img[alt="T"]):before,
.required-tags .rating-teen {
  background: center no-repeat url(https://ucarecdn.com/a65feb09-50d8-49d9-9c20-a0c6b7b49856/teen.png);
  background-size: 22px;
}

#symbols-key dd dt:has(img[alt="M"]):before,
.required-tags .rating-mature {
  background: center no-repeat url(https://ucarecdn.com/7838f28f-8f72-49b0-9d20-f5f7a5fa8ae5/mature.png);
  background-size: 22px;
}

#symbols-key dd dt:has(img[alt="E"]):before,
.required-tags .rating-explicit {
  background: center no-repeat url(https://ucarecdn.com/06c90ebd-009b-47b1-a301-ef044cb65c10/explicit.png);
  background-size: 22px;
}

/* Relationship */
#symbols-key dd dt:has(img[alt="M/M"]):before,
.required-tags .category-slash {
  background: center no-repeat url(https://ucarecdn.com/6b3e121d-9333-4353-b27b-33dffce84466/slash.png);
  background-size: 25px;
}

#symbols-key dd dt:has(img[alt="F/F"]):before,
.required-tags .category-femslash {
  background: center no-repeat url(https://ucarecdn.com/d2e3edbe-b9d4-4da6-b2fb-8f002f94b4c4/femslash.png);
  background-size: 25px;
}

#symbols-key dd dt:has(img[alt="F/M"]):before,
.required-tags .category-het {
  background: center no-repeat url(https://ucarecdn.com/f45c6f54-9a35-4d1d-b1da-6faef196a747/het.png);
  background-size: 25px;
}

#symbols-key dd dt:has(img[alt="Multi"]):before,
.required-tags .category-multi {
  background: center no-repeat url(https://ucarecdn.com/993945db-d382-40e6-b00c-d37276bcff99/poly.png);
  background-size: 25px;
}

#symbols-key dd dt:has(img[alt="Other"]):before,
.required-tags .category-other {
  background: center no-repeat url(https://ucarecdn.com/9b575b5d-f6f6-45be-ac1e-1922a0c75834/other.png);
  background-size: 22px;
}

/* Warnings */
#symbols-key dd dt:has(img[alt="Gen"]):before,
.required-tags .category-gen {
  background: center no-repeat url(https://ucarecdn.com/82261a52-d4f8-4459-9dcf-7dda53d0e64e/gen.png);
  background-size: 22px;
}

#symbols-key dd dt:has(img[alt="questioned exclamation mark"]):before,
.required-tags .warning-choosenotto {
  background: center no-repeat url(https://ucarecdn.com/945ac583-3a30-4b90-b48c-618fd0909bc5/choosenotto.png);
  background-size: 22px;
}

#symbols-key dd dt:has(img[alt="exclamation mark"]):before,
.required-tags .warning-yes {
  background: center no-repeat url(https://ucarecdn.com/5d6996e4-7a13-46bf-a586-9cc378820444/nsfw.png);
  background-size: 22px;
}

#symbols-key dd dt:has(img[alt="globe"]):before,
.required-tags .external-work {
  background: center no-repeat url(https://ucarecdn.com/57f608ef-b402-473c-b614-b0d9bd2351ef/globe.png);
  background-size: 22px;
}

/* Completion Status */
#symbols-key dd dt:has(img[alt="ticky"]):before,
.required-tags .complete-yes {
  background: center no-repeat url(https://ucarecdn.com/c817e2b6-ee9c-4fdc-9684-64cf9f6c4030/complete.png);
  background-size: 25px;
}

#symbols-key dd dt:has(img[alt="stop sign"]):before,
.required-tags .complete-no {
  background: center no-repeat url(https://ucarecdn.com/4131de52-2dc8-4e6c-8bad-d283ecab1dba/incomplete.png);
  background-size: 22px;
}

/* Category None / Blank */
#symbols-key dd dt:has(img[alt="blank square"]):before,
.required-tags .rating-notrated,
.required-tags .category-none,
.required-tags .warning-no {
  background: transparent;
  background-size: 22px;
}

/** BOOKMARK ICONS **/
/* removes the white square under the bookmark count number */
.bookmark .status .count {
  background: transparent;
  background-size: 25px;
}

#bookmark-symbols-key dt:has(img[alt="Private Bookmark"])::before,
.bookmark .status .private .text {
  background: center no-repeat url(https://ucarecdn.com/273d91b5-b225-4443-a97b-dfbf2ad6ae7f/bookmark_private.png);
  background-size: 25px;
}

#bookmark-symbols-key dt:has(img[alt="Public Bookmark"])::before,
.bookmark .status .public {
  background: center no-repeat url(https://ucarecdn.com/94f09db3-0347-426e-abd4-5a0a6fbed59b/bookmark.png);
  background-size: 25px;
}

#bookmark-symbols-key dt:has(img[alt="Rec"])::before,
.bookmark .status .rec {
  background: center no-repeat url(https://ucarecdn.com/a29f7c84-0c37-405e-82f7-31319159d6a1/bookmark_rec.png);
  background-size: 25px;
}

#bookmark-symbols-key dt:has(img[alt="Bookmark Hidden by Admin"])::before,
.bookmark .status .hidden {
  background: center no-repeat url(https://ucarecdn.com/2e10a155-c3e0-483e-a88f-785e1dbc1968/bookmark_locked.png);
  background-size: 25px;
}

/* ARCHIVE LOCKED FICS */

.heading:has(img[title="Restricted"]) img {
  content: url(https://ucarecdn.com/5dddab40-9972-4421-addb-d02b627e748e/locked.png);
  height: auto;
}

#bookmark-symbols-key dt:has(img):before,
#symbols-key dd dt:has(img):before,
.required-tags span:is(.category, .rating, .warnings, .iswip),
#bookmark-symbols-key dt:has(img[alt])::before,
.bookmark .status span:is(.rec, .public, .private, .hidden),
.heading:has(img[title="Restricted"]) img {
  filter: var(--filter-icons);
}

/** ------------------- **/
/** WORK RATING EARMARK **/
/** ------------------- **/

.work.meta.group,
li.work.blurb {
  z-index: 0;
}

.work.meta.group:has(.tags.rating a.tag[href*="/tags/Explicit/"]):before,
.work.blurb:has(.rating-explicit):before {
  background: linear-gradient(225deg, var(--color-explicit-rating) 0%, transparent var(--earmark-corner-size));
}

.work.meta.group:has(.tags.rating a.tag[href*="/tags/Mature/"]):before,
.work.blurb:has(.rating-mature):before {
  background: linear-gradient(225deg, var(--color-mature-rating) 0%, transparent var(--earmark-corner-size));
}

.work.meta.group:has(.tags.rating a.tag[href*="/tags/Teen%20And%20Up%20Audiences/"]):before,
.work.blurb:has(.rating-teen):before {
  background: linear-gradient(225deg, var(--color-teen-rating) 0%, transparent var(--earmark-corner-size));
}

.work.meta.group:has(.tags.rating a.tag[href*="/tags/General%20Audiences/"]):before,
.work.blurb:has(.rating-general-audience)::before {
  background: linear-gradient(225deg, var(--color-gen-rating) 0%, transparent var(--earmark-corner-size));
}

.work.meta.group:before,
.work.blurb:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: var(--border-radius); /* only relevant if work card has a rounded upper right border */
}

.work.meta.group > .rating.tags,
#main > .wrapper .work.meta dt {
  display: none;
}
