:root {
  --comment-img-size: 45px;
}

.javascript {
  background: var(--bg-base);
}

#header #search .text {
  min-width: 7em;
  width: 15vw;
}

#header .primary > li:first-of-type {
  margin-left: 0;
}

#header .user .open > a:focus {
  color: var(--text-primary);
}

#main,
#main.dashboard {
  padding-left: var(--spacing-normal);
  padding-right: var(--spacing-normal);
}

#dashboard,
#dashboard.own {
  position: initial;
  top: unset;
}

#dashboard .secondary {
  background: var(--bg-secondary);
}

div.preface {
  margin: var(--spacing-large) 0em;
}

#dashboard ul:not(:last-child) {
  border: 0;
}

form.single span.submit,
form.single ul.autocomplete {
  display: inline-block;
}

.filters > fieldset {
  margin: 0;
  padding: 0 var(--spacing-normal) 0 var(--spacing-small);
}
