:root {
  --comment-img-size: 40px;
}

body {
  font-size: 115%;
}

.blurb .header.module:has(.required-tags) {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
  margin: 0;
}

.blurb:has(.required-tags) .header .heading:not(.byline) {
  margin: var(--spacing-small) 5.25em 0 0;
  overflow-wrap: break-word;
  order: 0;
}

.blurb:has(.required-tags) .header .required-tags {
  order: 2;
  margin: var(--spacing-small) auto;
}

.blurb:has(.required-tags) .header h5.fandoms {
  order: 3;
  margin-bottom: 0;
}

a.tag,
.blurb h4.heading a {
  word-break: break-word;
}

.blurb ul.required-tags {
  position: initial;
  top: initial;
  text-align: center;
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.blurb ul.required-tags li {
  margin: 0;
}

.blurb ul.required-tags li + li + li,
.blurb ul.required-tags li + li + li + li {
  position: initial;
  left: initial;
}

.blurb ul.required-tags li {
  display: inline-flex;
}

#workskin {
  font-size: 1.25em;
}
