:root {
  --shadow: none;

  --bg-base: #fff;
  --bg-primary: #fff;
  --bg-secondary: #ededed;
  --bg-tertiary: #dedede;
  --bg-highlight: #cdcdcd;

  --text-primary: #000;
  --text-highlight: #222;

  --color-red: #a00;
  --color-orange: #b50;
  --color-yellow: #ca0;
  --color-green: #090;
  --color-purple: #44d;
  --color-blue: #08f;

  --color-selection: #666;
  --color-link-action-hover: #999;

  --color-fandom-tags: #444;
  --color-explicit-tags: #444;
  --color-mature-tags: #444;
  --color-warning-tags: #444;
  --color-platonic-tags: #444;
  --color-character-tags: #444;
  --color-freeform-tags: #444;

  --color-fg-question: #444;

  --filter-chart-bg: opacity(0);
  --filter-chart-guide-odd: brightness(0.8);

  --filter-icons: saturate(0) brightness(0.7);
}
