:root {
  --shadow: none;

  --bg-base: #000;
  --bg-primary: #000;
  --bg-secondary: #121212;
  --bg-tertiary: #212121;
  --bg-highlight: #262626;

  --text-primary: #fff;
  --text-highlight: #ddd;

  --color-red: #f66;
  --color-orange: #fa0;
  --color-yellow: #ff8;
  --color-green: #8f8;
  --color-purple: #aaf;
  --color-blue: #0af;

  --color-selection: #aaa;
  --color-link-action-hover: #666;

  --color-fandom-tags: #ccc;
  --color-explicit-tags: #ccc;
  --color-mature-tags: #ccc;
  --color-warning-tags: #ccc;
  --color-platonic-tags: #ccc;
  --color-character-tags: #ccc;
  --color-freeform-tags: #ccc;

  --color-fg-question: #ccc;

  --filter-chart-bg: opacity(0);
  --filter-chart-text: invert(1);
  --filter-chart-tooltip: invert(1);
  --filter-chart-guide-even: opacity(0.1);
  --filter-chart-guide-odd: opacity(0.2);

  --filter-icons: saturate(0);
}
