:root {
  --color-modal-overlay: rgba(2, 2, 3, 0.7);
  --color-dark-rbga025: rgba(2, 2, 3, 0.25);
  --color-dark-rbga010: rgba(2, 2, 3, 0.1);

  --bg-base: #020203;
  --bg-primary: #18191b; /* main bg, notice text */
  --bg-secondary: #0f0f10; /* content boxes */
  --bg-tertiary: #222325; /* nested content boxes */
  --bg-highlight: #2c2d30; /* highlights (borders), fav tag odd, notice links */

  --text-primary: #f4f4f2; /* normal text, dropdown odd */
  --text-highlight: #c5c5ba; /* interactables, dropdown even */

  --color-red: #fe6862; /* error notice, filter excluded */
  --color-orange: #ffad5c; /* caution notice */
  --color-yellow: #ffe77d; /* info notice */
  --color-green: #56c87c; /* filter included */
  --color-purple: #dc78ff; /* alert flash */
  --color-blue: #6ab8ff; /* freeform tags only */

  --color-selection: var(--color-blue);
  --color-link-action-hover: var(--text-primary);

  --color-fg-question: var(--color-blue);

  --filter-text-primary: invert(95%) sepia(6%) saturate(634%) hue-rotate(29deg) brightness(116%) contrast(91%);

  --filter-chart-bg: opacity(0);
  --filter-chart-text: brightness(0) var(--filter-text-primary);
  --filter-chart-tooltip: brightness(0) invert(15%) sepia(1%) saturate(2153%) hue-rotate(187deg) brightness(92%) contrast(90%);
  --filter-chart-accent: brightness(0) var(--filter-text-primary);
  --filter-chart-accent-hover: brightness(0) invert(84%) sepia(33%) saturate(6766%) hue-rotate(182deg) brightness(102%) contrast(102%);
  --filter-chart-guide-even: opacity(0.1);
  --filter-chart-guide-odd: opacity(0.2);

  --filter-icons: brightness(1.3) saturate(1.5);
}
